#masthead {
    /* Rectangle: */
    background-image: linear-gradient(-180deg, #FFFFFF 30%, #D8D8D8 100%);
    background: #fff;
}

#patient-summary {
    /* Rectangle: */
    background-image: linear-gradient(-180deg, #005EB8 0%, #0072CE 50%, #005EB8 100%);
    background: #005eb8;
    border-bottom: 2px solid #d8dde0;
}

#patient-summary:hover {
    background-image: linear-gradient(-180deg, #00468a 0%, #005EB8 50%, #00468a 100%);
    background: #00468a !important;
    transition: 1.5s;
}

.summary-label {
    color: white !important;
}

#third-column .summary-label,
#fourth-column .summary-label {
    color: #a0a0a0 !important;
}

.callout.success {
    background: #DFEDF8 !important;
}

.summary-info {
    color: white !important;
}

.tab-icon {
    text-align: center;
    border-right: 0px rgba(255, 255, 255, 0.2) solid;
    border-left: 0px rgba(255, 255, 255, 0.0) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
}

.tab-icon-button {
    border-radius: 0px;
    background: #425563;
    margin-bottom: 0px;
}

.tab-icon-button-small {
    padding: 0.5em !important;
    width: 100%;
}

.tab-icon-button:hover {
    background: #C7CCD0;
    transition: 0.0s;
    border-right-color: #C7CCD0 !important;
    color: #415564 !important;
}

.tab-icon-button:hover .tab-icon-img {
    padding: 2px !important;
    transition: 0.5s;
}

.tab-icon-button:hover .tab-icon-label {
    color: #415564 !important;
}

.tab-icon-active {
    background: #F2F3F4;
    border-right: 0px #F2F3F4 solid;
    color: #415564;
}

.tab-icon-alert {
    border-left: 4px #D0021B solid;
}

.tab-icon-flag {
    border-left: 4px orange solid;
}

.tab-icon-img {
    height: 30px !important;
    padding: 5px;
}

.tab-icon-img-active {
    fill: white !important;
}

.tab-icon-label {
    font-size: 10px;
    color: #fefefe;
}

.tab-icon-active .tab-icon-label {
    color: #415564;
}

.content-column {
    padding-top: 0px;
}



#first-column {
    background: #425563;
    padding: 0px;
    width: 80px;
}

#second-column {
    background: #F2F3F4;
    color: #415564 !important;
    font-size: 0.8rem;
    padding-top: 10px;
    /*  -webkit-box-shadow: 1px 1px 5px -1px rgba(65, 85, 100, 0.3);
    -moz-box-shadow: 1px 1px 5px -1px rgba(65, 85, 100, 0.3);
    box-shadow: 1px 1px 5px -1px rgba(65, 85, 100, 0.3); */
}

#second-column a {
    color: #415564;
}

#third-column {
    padding-top: 10px;
}

@media screen and (max-width: 639px) {
    #third-column {
        padding-top: 20px;
    }
    #second-column {
        border-bottom: 2px solid #d8dde0;
    }
}

@media screen and (max-width: 375px) {
    .tab-icon-label {
        font-size: 8px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    #second-column {
        font-size: 0.6rem !important;
    }
}

@media screen and (min-width: 640px) {
    .menu.nested {
        margin-left: 0.5rem !important;
    }
}

#fourth-column {
    font-size: 0.7rem;
    border-left: #efefef 1px solid;
    padding-top: 10px;
    /*  -webkit-box-shadow: -1px 1px 5px -1px rgba(65, 85, 100, 0.3);
    -moz-box-shadow: -1px 1px 5px -1px rgba(65, 85, 100, 0.3);
    box-shadow: -1px 1px 5px -1px rgba(65, 85, 100, 0.3); */
}

#omni-footer {
    background: #231f20;
    color: #fefefe;
    padding: 5px;
}

.second-column-menu {
    margin-left: 0px;
}

.accordion-menu li {
    background: transparent;
    padding: 0px;
    border-top: 0px solid rgba(188, 196, 211, 0.6);
    border-bottom: 1px solid rgba(188, 196, 211, 0.2);
}

.accordion-menu li .is-accordion-submenu-item {
    border-bottom: 0px solid rgba(188, 196, 211, 0.3);
}

.submenu-toggle {
    top: -5px;
    right: -15px;
}

.table-scroll,
.table {
    font-size: 0.8rem;
}

.second-text {
    max-height: 0;
    overflow: hidden;
    transition: 1s all ease;
}

.read-more-link {
    transition: 1s opacity ease;
}

.expanded .read-more-link {
    opacity: 0;
}

.expanded .second-text {
    max-height: 40px;
}


h2 {
    font-size: 2.0rem;
}

h4,
h5 {
    font-size: 1.15rem;
}

.menu a {
    padding: 0.6rem 0rem !important;
}

table {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(224, 224, 224, 1);
    box-shadow: 0px 0px 0px 0px rgba(224, 224, 224, 1);
}
