body {
    background: white;
    font-size: 14px;
    font-family: Avenir, -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;
}

h5 {
    margin-bottom: 1.0rem !important;
}

.mismatch-alert {
    text-align: left;
    transition: 0.5s;
}

.mismatch-row {
    background: rgba(255, 165, 0, 0.3) !important;
}

.match-row {
    background: rgba(0, 156, 156, 0.3);
}

.contextual-help-list {
    list-style-type: circle;
}

#help {
    background: #efefef;
    padding-top: 20px;
}

@media screen and (min-width: 1023px) {
    .mismatch-alert {
        text-align: right;
        transition: 0.5s;
    }
}

#masthead-2 {
    border-bottom: 1px solid #efefef;
}

#content-main {}

.scrollToTop {
    box-shadow: 0px 5px 20px 0px rgba(148, 148, 148, 1);
}

.small-tab {
    font-size: 6px;
    text-transform: uppercase;
}

hr {
    border-bottom: #efefef 1px solid;
}

.info-section {
    padding: 0px 0px;
}

table {
    min-width: 100%;
}

.lozenge-wrap {
    padding: 5px 0px;
}

.summary-lozenge {
    padding: 3px 5px;
    border-radius: 20px;
    border: 0px !important;
    margin-bottom: 20px;
    font-size: 12px;
    color: white !important;
    width: 100% !important;
}

.alert-lozenge {
    padding: 3px 5px;
    border-radius: 0px;
    border: 0px !important;
    margin-bottom: 20px;
    font-size: 12px;
    color: white !important;
    width: 100% !important;
}

#left-hand-col {
    padding-top: 20px;
}

#right-hand-col {
    border-left: 0px solid #efefef;
    padding-top: 20px;
}

#centre-col {
    padding-top: 0px;
    transition: 3s;
}

#grid-list-switch {
    text-align: right;
    font-size: 18px;
    margin-bottom: 5px;
    transition: 3.0s;
}

#patient-summary {
    padding: 10px 0px;
    margin-bottom: 0px;
    background: #EFF6FC;
    line-height: 1.5;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    color: #415564;
}

#summary-avatar {
    height: 100px;
}

.patient-float {
    background: #425563;
}

.summary-label {
    padding: 10px 0px !important;
    margin-bottom: 10px !important;
    color: #aaa;
}

.dashboard-label {
    padding: 10px 0px !important;
    margin-bottom: 10px !important;
    color: #415564;
}

.ghost {
    border: 1px solid transparent;
    background: transparent;
    color: #415564;
    font-weight: bold;
}

.ghosty {
    border: 1px solid transparent;
    background: #f8f8f8 !important;
    color: #415564;
    font-weight: bold;
}

.ghosty:hover {
    background: #004b93 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.marbot {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul ul {
    margin-left: 0px;
}

.small-text {
    font-size: 10px;
}

.primary {
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#main-nav {
    margin-top: 30px;
    margin-bottom: 20px;
    transition: 3.0s;
}

.border-bottom {
    border-bottom: 1px solid #efefef;
}

.summary-info {
    color: #415564 !important;
    padding: 10px 0px !important;
    font-weight: 400;
}

.summary-info-name {
    font-size: 3vmax;
    font-weight: 700;
    font-family: Avenir, Helvetica Neue, -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, sans-serif;
}

.summary-info-gender-age {
    margin-top: 20px;
}

.dashboard-panel {
    text-align: center;
    background: #DFEDF8;
    color: #415564;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 1.0s;
}

.dashboard-panel a:hover,
flag-panel a:hover,
alert-panel a:hover {
    text-decoration: underline;
}

.dashboard-panel:hover,
.alert-panel:hover,
.flag-panel:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}

.number-centre {
    font-size: 7vmax;
    transition: 0.2s;
    padding: 0px;
    font-weight: 100;
}

.alert-panel {
    background: #D0021B;
    color: white !important;
}


.flag-panel {
    background: orange;
    color: white !important;
}

.panel-greyed-out {
    background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Avenir, Helvetica Neue, -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, sans-serif;
}

.panel-title {
    text-align: left;
    font-size: 24px;
    font-family: Avenir, Helvetica Neue, -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, sans-serif;
    font-weight: 700;
    display: block;
}

.panel-link {
    text-align: right;
}

.alert-panel-list {
    text-align: left;
    margin-top: 10px;
    margin-left: 0px;
}


.alert-panel-list li {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 5px 0px;
    margin-bottom: 5px;
    list-style-type: none;
}

.site-title {
    font-size: 2vw;
}

.menu a {
    padding: 0.5rem 0rem !important;
}

.current {
    color: orange !important;
    font-weight: bold;
}

.accordion-menu li {
    padding: 5px 10px;
    background: #ECEFF3;
    border-top: 1px solid rgba(188, 196, 211, 0.6);
}

.drilldown a {
    background: transparent;
}


.drilldown .is-drilldown-submenu {
    background: #425563;
}

li a.is-active {
    color: orange !important;
    transition: 0.1s ease-in;
}

li a.is-active:hover {
    color: orange !important;
    transition: 0.1s ease-in;
    text-decoration: underline;
}

li a:hover {
    text-decoration: underline;
}

.is-active {
    background: transparent;
    border-radius: 0px;
}

.accordion-item:first-child > :first-child,
.accordion-item:last-child > :last-child {
    border-radius: 0px;
}

.accordion-item:last-child:not(.is-active) > .accordion-title {
    border-radius: 0 0 5px 5px;
}

.accordion-item:first-child:not(.is-active) > .accordion-title {
    border-radius: 5px 5px 0px 0px;
    transition: 0.5s;
}

.padd-5 li {
    padding: 0px 5px !important;
}

#side-nav {
    padding-bottom: 30px !important;
}

#side-nav-timeline {
    background: #005EB8;
    color: white !important;
    border-radius: 5px;
    padding: 10px 10px 10px 5px;
}

#side-nav-timeline a {
    color: white;
    margin-left: 5px;
}

#side-nav-timeline a:hover {
    text-decoration: none;
    color: orange;
    transition: 0.5s;
}

.data-source {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: orange;
    padding-bottom: 20px;
}



.clipped-circle-graph {
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin: auto;
}

.clipped-circle-graph.gt-50 {
    background-color: darkorange;
}

.clipped-circle-graph:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 19px;
    background: transparent;
    height: 5rem;
    width: 5rem;
    z-index: 3;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    -webkit-transform-origin: -30px 15px;
    -ms-transform-origin: -30px 15px;
    transform-origin: -30px 15px;
}

.clipped-circle-graph-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 5.625rem);
    top: calc(50% - 5.625rem);
    width: 11.25rem;
    height: 11.25rem;
    clip: rect(0, 11.25rem, 11.25rem, 5.625rem);
    -webkit-transform: rotate(-180deg) perspective(0);
    transform: rotate(-180deg) perspective(0);
}

.clipped-circle-graph-progress .clipped-circle-graph-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 5.625rem);
    top: calc(50% - 5.625rem);
    width: 11.25rem;
    height: 11.25rem;
    clip: rect(0, 5.625rem, 11.25rem, 0);
    background: darkorange;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.gt-50 .clipped-circle-graph-progress {
    clip: rect(0, 5.625rem, 11.25rem, 0);
}

.gt-50 .clipped-circle-graph-progress .clipped-circle-graph-progress-fill {
    clip: rect(0, 11.25rem, 11.25rem, 5.625rem);
    background: #8a8a8a;
}

.clipped-circle-graph-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 7.75862rem/2);
    top: calc(50% - 7.75862rem/2);
    width: 7.75862rem;
    height: 7.75862rem;
    background: #38517B;
    text-align: center;
    display: table;
    z-index: 4;
}

.clipped-circle-graph-percents .clipped-circle-graph-percents-number {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkorange;
}

.clipped-circle-graph-percents .clipped-circle-graph-percents-units {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.clipped-circle-graph-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
}

.clipped-circle-graph-percents-wrapper span {
    line-height: 1;
}






#privacy {
    margin-top: 20px;
}

#Disclaimer {
    font-size: 18px;
}

.accordion-title {
    background: #005EB8;
}

.accordion-content {
    background: #fcfcfc;
}

.HighlightedStatement {
    font-weight: bold;
}

.title-bar-title {
    font-size: 10px;
}

.fieldset legend {
    background: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    color: #005EB8;
    font-size: 18px;
    font-weight: bold;
}

*[data-href],
*[data-open] {
    cursor: pointer;
}

.form-hint {
    font-weight: 500;
    font-size: 80%;
    opacity: 0.5;
}

.tabby-inactive {
    opacity: 0.5 !important;
}

.tabby-inactive:hover {
    opacity: 1 !important;
}

.main-label {
    font-size: 100%;
}

.form-wrap {
    margin-bottom: 1.6rem;
}

#mandatory {
    font-size: 60%;
    margin-bottom: 20px;
}

.tabby-no-tab {
    background: transparent;
}

#content-wrapper {
    background: #fefefe;
    padding-top: 20px !important;
    margin-top: 0px;
}

#footer {
    margin-top: 30px;
}

#sticky-footer-outer {
    margin-bottom: 0px;
}

#footer-inner {
    background: #231f20;
    padding: 10px 0px;
    margin: 0px;
    color: white;
    font-size: 12px;
    margin-bottom: 0px !important;
}

.title-bar-title {
    padding-left: 0px;
}

.callout {
    font-size: 14px;
    padding: 1rem 1.5rem 1rem 1rem;
}

@media print,
screen and (min-width: 40em) {
    .tabby-active {
        background: #fefefe;
    }
    .tabby-active:hover {
        background: #fefefe;
    }
    .tabby-inactive {
        opacity: 0.8 !important;
    }
    .tabby-inactive:hover {
        opacity: 1.0;
        transition: 0.7s;
    }
}

@media print,
screen and (min-width: 1281px) {}

@media print,
screen and (min-width: 380px) {
    .title-bar-title {
        font-size: 14px !important;
    }
}

@media print,
screen and (min-width: 425px) {
    .title-bar-title {
        font-size: 16px !important;
    }
}

#timeline-filters {
    background: #DFEDF8;
    border-radius: 5px;
    padding: 10px 10px 0px;
    margin-bottom: 20px;
}

.timeline .timeline-item::after,
.timeline .timeline-item::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
}

.timeline {
    margin: 30px auto;
    padding: 0 10px;
    position: relative;
    transition: all 0.25s ease-in;
    width: 100%;
}

.timeline::before {
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
}

.timeline::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
}

.timeline .timeline-item {
    margin-bottom: 0px;
    position: relative;
}

.timeline .timeline-item .timeline-icon {
    border-radius: 50%;
    height: 50px;
    left: 50%;
    margin-left: -23px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50px;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
    left: 1px;
    position: relative;
    top: 14px;
}

.timeline .timeline-item .timeline-icon svg {
    top: 14px;
    height: 14px;
}

.timeline-icon-new {
    height: 24px;
}

.timeline .timeline-item .timeline-content {
    padding: 20px;
    text-align: right;
    transition: all 0.25s ease-in;
    width: 45%;
    background: transparent;
}

.timeline .timeline-item .timeline-content p {}

.timeline .timeline-item .timeline-content p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.timeline-content-date {
    color: gray !important;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
    float: right !important;
    text-align: left;
}

@media screen and (max-width: 39.9375em) {
    .timeline {
        margin: 30px;
        padding: 0;
        width: 90%;
    }
    .timeline::before {
        left: 0;
    }
    .timeline .timeline-item .timeline-content {
        float: right;
        text-align: left;
        width: 90%;
    }
    .timeline .timeline-item .timeline-content::before,
    .timeline .timeline-item .timeline-content.right::before {
        border-left: 0;
        border-right: 7px solid #fefefe;
        left: 10%;
        margin-left: -6px;
    }
    .timeline .timeline-item .timeline-icon {
        left: 0;
    }
}

.timeline-item {
    margin-bottom: 20px !important;
}

.timeline-item a {
    font-weight: normal;
}

.timeline-item a:hover {
    font-weight: normal;
    text-decoration: underline;
    color: orange;
    transition: 0.5s;
}
